
*{
  font-family: sans-serif;
  
}
div{
  border-style: solid;
  border-color: rgb(17, 85, 139);

}
#menu{
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    width: em;
    background-color: rgb(37, 37, 39);
}

#menu ul {
    max-width: 900px;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 10px;
    display: inline-block;
    text-decoration: none; 
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: rgb(17, 85, 139);
}

h3{
  text-align: center;
}

#logo{
  width: 100px;
  align-items: baseline;
}


#links {
    float: left;
    max-width: 50%;	
  }
  #links li {
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0.7;
  }
  
  #links li:hover {
    opacity: 1;
    font-weight: 900;
    color:rgb(243, 243, 250);
    background-color: rgb(1, 15, 27);
  }
  
  #respostas {
    float: right;
    max-width: 50%;
  }
  
  .faq {
    margin: 20px;
    display: none; /* coloca todos como invisiveis inicialmente */
  }