
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu{
    position: fixed;
    right: 10;
    top: 0%;
    width: 38em;
    background-color: rgb(37, 37, 39);
}

#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 230;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: rgb(17, 85, 139);
}

h2, p, h3{
    text-align: center;
}