
#menu{
    position: fixed;
    right: 10;
    top: 0%;
    width: 1000em;
    background-color: rgb(37, 37, 39);
}

#menu ul {
    max-width: 900px;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 10px;
    display: inline-block;
   text-decoration: none; 
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: rgb(17, 85, 139);
}


#links {
    float: left;
    max-width: 50%;	
  }
  #links li {
    cursor: pointer;
    transition: 0.3s ease;
    opacity: 0.7;
  }
  
  #links li:hover {
    opacity: 1;
  }
  
  #respostas {
    float: right;
    max-width: 50%;
  }
  
  .faq {
    margin: 20px;
    display: none; /* coloca todos como invisiveis inicialmente */
  }